//Variables 
$khaki: #e9c97f;
$neon: #2196f3;

html, body {
    font-family: sans-serif;
    color: #333;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.wrapper {
    background: #000;
    width: 100%;
    height: auto;
    min-height: 300px;
    display: inline-block;
    position: relative;
}

.header {
    background: url('images/Games/GamingBackgrounds/Borderlands3.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 70vh;
    float: left;
    position: relative;
}

.logo {
    width: 150px;
    height: auto;
    position: absolute;
    display: inline-block;
    padding-left: 40px;
    padding-top: 20px;
}

img {
    width: 100%;
}

//Navbar Menu-----
nav {
    width: 100%;
    z-index: 1;
    position: fixed;

    ul {
        list-style: none;
        background: rgba(0,0,0,0);
        overflow: hidden;
        color: #fff;
        padding: 0;
        text-align: right;
        padding-right: 20px;
        margin: 0;
        transition: 1s;
    }

    li {
        display: inline-block;
        padding: 20px;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        &:hover {
            color: $khaki;
            transition: .4s;
        }
    }
}

nav.black ul {
    background: #000;
}

//Navbar Toggler 
.menu-icon {
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}


//Mid Play Button for trailer----
.play_button {
    width: 100px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -webkit-transform: translate(-50%, -50%);
    -moz-transfrom: translate(-50%, -50%);
    &:hover{
        width: 115px;
    }
}

//(Container of Games)
.gameposter {
    display: inline-block;
    width: 100%;
    padding: 60px 35px 10px;
    box-sizing: border-box;

    h3 {
        font-family: sans-serif;
        font-size: 28px;
        color: #fff;
        font-weight: normal;
        padding-bottom: 8px;
        padding-top: 10px;
    }

    //Game Poster Border
    .border{
        background: #fff;
        border: none;
        height: 1px;
        width: 100%;
        padding-top: 2px;
        margin-bottom: 50px;
    }

    img {
        &:hover{
            box-shadow: 0 0 10px 4px #2196f3;
            transition: .4s;
        }
    }
}

//Game Trailer Grid
.game-trailer-grid {
    padding: 30px 0px;
}

.trailer1 {
    width: 24%;
    height: auto;
    margin-right: 16px;
    float: left;
}

.trailer-last {
    margin-right: 0px;
}

.viewall {
    display: inline-block;
    padding: 7px 10px;
    background: #262626;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    cursor: pointer;
    margin-right: 5%;
    margin-top: 15px;
    &:hover {
        background: #fff;
        transition: .4s;
        color: #000;
    }
}

.myform {
    margin-top: 20px;
}

.sub {
    padding: 155px 0px;
    width: 100%;
    display: inline-block;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/Games/GamingBackgrounds/WD2.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin-top: 35px;

    p {
        color: #fff;
        font-family: sans-serif;
        font-size: 24px;
        text-align: center;
    }

    .email {
        height: 35px;
        border: 1px solid #fff;
        border: rgba(255, 255, 255, 0.1);
        color: #fff;
        border-radius: 7px;
        padding: 0 7px;
        width: 310px;
        background: #333;
    }

    .submit {
        height: 35px;
        background: rgba(255,255,255,0.255);
        border: 1px solid #fff;
        line-height: 33px;
        text-align: center;
        font-weight: bold;
        color: #fff;
        padding: 0px 25px;
        border-radius: 7px;
        cursor: pointer;
        &:hover {
            background: crimson;
            transition: .4s;
        }
    }
}

.footer{
    width: 100%;
    height: auto;
    padding: 25px 35px;
    text-align: center;
    background: #000;

    h1 {
        font-family: sans-serif;
        font-weight: normal;
        color: #fff;
    }

    b {
        font-weight: 700;
        margin-right: 5px;
    }

    p {
        font-family: sans-serif;
        color: #fff;
        font-size: 18px;
        padding: 5px 0;
    }
}

//Responsiveness----------------------
@media (max-width: 1300px){
    //Navbar Toggle
    nav ul {
        max-height: 0px;
        background: #000;
    }

    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 20em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        padding: 24px 0;
        display: block;
        &:hover {
            background: $neon;
            transition: .3s;
            cursor: pointer;
        }
    }

    .menu-icon {
        display: block;
    }

    //Navbar Logo
    .logo {
        display: none;
    }

    //Game Poster Grid
    .game-trailer-grid {
        width: 230%;
        grid-gap: 10px;
        display: grid;
        margin-left: 55px;
    }

    //The Actual Game Poster
    .gameposter{
        width: 150%;
        display: flex;
        flex-flow: column wrap;
        padding: 0;
        margin-left: 40px;
    }

    //View All Button
    .viewall{
        width: 53%;
        margin: 20px 0 20px 80px;
        text-align: center;
    }

    //Play Button Logo
    .play_button{
        display: block;
    }

    //Subscribe Button
    .submit{
        margin-top: 10px;
    }
}


@media (max-width: 700px){
    .game-trailer-grid{
        margin-left: auto;
    }

    .viewall {
        width: 40%;
        margin-left: 55px;
    }
}
